.bgimage{
	background-image: url('../project/img/cw.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height:660px;
}
.textset{
	padding-top: 250px;
	box-sizing: border-box;

}
.textset h2{
	font-size: 42px;
	color: pink;
}
.textset h1{
	font-size: 62px;
	font-weight:bold;
	color:pink;

}
.user{
	margin:8px 40px;
}
.textset h3{
	font-size:32px;
	font-weight: bold;
	color:pink; 
}
.snbutton{
	margin-top: 20px;
	font-weight: bold;
	color: white;
}
.subutton{
	margin-top: 20px;
	font-weight: bold;
	color: white;
}
.user{
	font-size: 22px;
	font-weight: bold;
	color: black;
}
.user1{
	font-size: 22px;
	font-weight: bold;
	color: black;
}

.menu ul li:hover{
	color: orange;
}
.ourservice{
	padding: 100px 0px 60px;
	height: 700px;
}
.ourservices h1{
	font-size: 50px;
	font-weight: bold;
}

.rowsetting{
	margin:80px 0px !important;
}
.imgsetting{
	border-radius:50%;
	height: 100px;
	width: 100px
	
}
.fa-rocket{
	margin-top: 24px;
	color: white;
}
.share{
	padding: 20px 0px 30px;
	width: 100%;
	height: 150px;
	margin-top: 20px;
}
.fa-globe-africa{
	margin-top: 24px;
}
.fa-lock{
	margin-top: 24px;
}
.rowsetting h2{
	margin-top: 20px;
	font-weight: bold;
	font-size: 30px;
}
.mbr-social-likes{

}
.rowsetting p{
color:#6c757d!important;
padding: 10px;
}
.head h6{
font-size: 32px;
font-weight: bold;
color:black;
}
.work{
	height:1400px;
	width: 100%;
	padding: 100px 0px 50px;
}
.work h1{
	font-size: 50px;
	font-weight: bold;

}
.card{
	margin-top: 40px;
}

.aboutus{
	height:700px;
	padding: 100px,0px,60px;
	width:100%;
}
.aboutus{
	font-size: 50px;
	font-weight: bold;
}
.teamsetting{
	margin-top: 50px !important;
}
.prset p{
font-size: 20px;
font-weight: normal;
}
.prset1{
	font-size: 20px;
	font-weight: normal;
}
.prset2{
	font-size: 20px;
	font-weight: normal;
}
.contact{
	padding: 20px 0px 30px;
	height: 280px;
	width: 100%;
	margin-top: 20px;


}
.contact h1{
font-size: 35px;
font-weight: bold;
color: red;
}
.contact h4{
	font-size:23px;
	font-weight: bold;
	color:white; 
}
.rowset h4{
margin-top: 20px;
margin-bottom: 30px;
}
.rowset p{
	
	color: blue;
	font-weight: bold;
}
.footer{
	height: 50px;

}
.footer h6{
line-height: 50px;
color: orange;

}



@media(min-width: 992px){

}
@media(min-width: 768px ) and (max-width: 991px)
{

}
@media(min-width: 575px) and (max-width: 767px){

}
@media(min-width: 480px) and (max-width: 574px){

}
@media(max-width: 479px){
.textset h2{
	font-size: 22px;
	color: pink;
}
.textset h1{
	font-size: 32px;
	font-weight:bold;
	color:pink;

}
.ourservice{
	padding: 100px 0px 60px;
	height: 1200px;
}
.ourservices h1{
	font-size: 50px;
	font-weight: bold;
}

}